In [8]:
import numpy as np
from scipy import spatial
import matplotlib.pyplot as plt
from sklearn.manifold import TSNE
import pandas as pd
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.snowball import SnowballStemmer
import matplotlib.pyplot as plt
import numpy as np
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer 
from nltk import pos_tag ,pos_tag_sents
import matplotlib.pyplot as plt
from nltk import pos_tag
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
from nltk.tokenize import RegexpTokenizer
from sklearn.model_selection import train_test_split, validation_curve
from sklearn.preprocessing import LabelEncoder
from scipy.sparse import vstack
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier

In [3]:
embeddings_dict = {}

In [6]:
with open('glove.twitter.27B.25d.txt', 'r' ,encoding='UTF-8') as f:
    for line in f:
        values = line.split()
        word = values[0]
        emb =np.asarray(values[1:], "float32")
        embeddings_dict[word] = emb

In [7]:
embeddings_dict['is']

array([-0.12532 , -0.20207 , -0.12672 , -0.57474 , -0.30313 , -0.029884,
        1.1792  , -0.1491  , -0.71315 , -0.12112 ,  0.40652 ,  1.4784  ,
       -5.995   , -0.21617 ,  0.47806 ,  0.43448 ,  0.13489 ,  0.88961 ,
       -0.56926 ,  0.33094 ,  0.13661 ,  0.65844 , -0.41766 ,  0.25164 ,
       -0.055809], dtype=float32)

In [77]:

def remove_link(content):
    '''remove links (using map) and hashtags and mentions'''
    a = content[:content.find('http' or 'https')]
    a = re.sub('#\w+', '', a)
    a = re.sub('@\w+','',a)
    return a

In [78]:
class LemmaTokenizer(object):
    '''lemmatize,tokenize,lower'''
    def __init__(self):
        self.wnl = WordNetLemmatizer()
        self.token = RegexpTokenizer(r'[a-zA-Z]+')
    def __call__(self, articles):
        return [self.wnl.lemmatize(t).lower() for t in self.token.tokenize(articles) if len(t)>1]

In [79]:
data = pd.read_csv('SemEval2017-task4-dev.subtask-A.english.INPUT.txt', names = ['id', 'label', 'content'], sep ='\t', index_col=False)
data.head()

,id,label,content
0,619950566786113536,neutral,"Picturehouse's, Pink Floyd's, 'Roger Waters: T..."
1,619969366986235905,neutral,Order Go Set a Watchman in store or through ou...
2,619971047195045888,negative,If these runway renovations at the airport pre...
3,619974445185302528,neutral,If you could ask an onstage interview question...
4,619987808317407232,positive,A portion of book sales from our Harper Lee/Go...

In [80]:
data.content = data.content.map(remove_link)

In [81]:
# tokenize each content

In [82]:
lt = LemmaTokenizer()
data['token'] = data.content.map(lt)

In [83]:
data.head()

,id,label,content,token
0,619950566786113536,neutral,"Picturehouse's, Pink Floyd's, 'Roger Waters: T...","[picturehouse, pink, floyd, roger, waters, the..."
1,619969366986235905,neutral,Order Go Set a Watchman in store or through ou...,"[order, go, set, watchman, in, store, or, thro..."
2,619971047195045888,negative,If these runway renovations at the airport pre...,"[if, these, runway, renovation, at, the, airpo..."
3,619974445185302528,neutral,If you could ask an onstage interview question...,"[if, you, could, ask, an, onstage, interview, ..."
4,619987808317407232,positive,A portion of book sales from our Harper Lee/Go...,"[portion, of, book, sale, from, our, harper, l..."

In [123]:
def embedder(x):
    '''embed each token with glove (if it exists in DS), also make the vector size 20'''
    t =[]
    for y in x:
        try:
            t.append(embeddings_dict[y])
        except:
            pass
    while len(t)<20:
        t.append([0]*25)
    
    return np.array(t[:20])

In [124]:
data['vector']=data.token.map(embedder)

In [125]:
data.head()

,id,label,content,token,vector
0,619950566786113536,neutral,"Picturehouse's, Pink Floyd's, 'Roger Waters: T...","[picturehouse, pink, floyd, roger, waters, the...","[[-0.5240799784660339, 0.24398000538349152, 0...."
1,619969366986235905,neutral,Order Go Set a Watchman in store or through ou...,"[order, go, set, watchman, in, store, or, thro...","[[0.264739990234375, 1.0621000528335571, -0.50..."
2,619971047195045888,negative,If these runway renovations at the airport pre...,"[if, these, runway, renovation, at, the, airpo...","[[0.18243, 0.70534, -0.34209, -0.10779, -0.727..."
3,619974445185302528,neutral,If you could ask an onstage interview question...,"[if, you, could, ask, an, onstage, interview, ...","[[0.18242999911308289, 0.7053400278091431, -0...."
4,619987808317407232,positive,A portion of book sales from our Harper Lee/Go...,"[portion, of, book, sale, from, our, harper, l...","[[-0.17234, 0.028791, -0.50907, 0.63949, 0.409..."